 <h2>My contact information</h2>
 
 <ul>
       
        <%  for (var key in contacts) { %>
            <p>  <%= key %> : <%= contacts[key] %> </p>
         
         <%  }  %>
  
        
       


    </ul>